<!DOCTYPE html>
<html>

<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="wave" src="images/wave.png">
    <div class="container">
        <div class="img">
            <img src="images/bg.svg">
        </div>
        <div class="login-content">
            <%- include ('../partials/messages') %>
                <form action="/register" method="POST">
                    <img src="images/avatar.svg">
                    <h2 class="title">Welcome</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Full Name</h5>
                            <input type="text" class="input" name="name" id="name" value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>

                    </div>

                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5> Email</h5>
                            <input type="email" class="input" id="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
                        </div>

                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Password</h5>
                            <input type="password" class="input" name="password" id="password" value="<%= typeof password != 'undefined' ? password : '' %>">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5> Confirm Password</h5>
                            <input type="password" class="input" id="password2" name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        </div>
                    </div>

                    <input type="submit" class="btn" value="Register">
                    <p style="top: -10px; position: relative ; display: inline;">
                        OR <a class="lead mt-4" href="/login">Login</a>
                    </p>
                </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>