<%- include ('../partials/_header') %>
    <!-- Page Header -->
    <section class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>
                            <%= blogname %> Blog</h1>
                        <span class="subheading"><%=theme%></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <div class="container" id="posting">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <% articles.forEach(article =>{ %>
                    <div class="post-preview">
                        <a href="post/<%= article.slug %>">
                            <h2 class="post-title">
                                <%= article.title %>
                            </h2>
                            <h3 class="post-subtitle">
                                <%= article.description %>
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">
                                <%= article.author %>
                            </a>
                            <%= article.createdAt %>
                        </p>
                    </div>
                    <% }) %>
                        <hr>
                        <!-- <div class="post-preview">
                    <a href="/post">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a> on September 18, 2019</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/post">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a> on August 24, 2019</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/post">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a> on July 8, 2019</p>
                </div> -->
                        <hr>
                        <!-- Pager -->
                        <div class="clearfix">
                            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                        </div>
            </div>
        </div>
    </div>

    <hr>

    <%- include ('../partials/_footer.ejs') %>